/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, p, ul, li, a, label, input, span {
  font-family: "Raleway", sans-serif, "Helvetica", "Arial", sans-serif;
  color: #122C34; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

.react-element {
  color: #E38E26; }

.react-attr {
  color: #B04413; }

.react-attr:before {
  content: ' '; }

.react-value {
  color: #E5BC7B; }

.react-brackets {
  color: #C3C3C3; }

.clickable {
  cursor: pointer; }

body {
  background: #122C34; }

.resume-pages-wrap {
  margin-top: 70px; }

@media screen and (max-width: 479px) {
  .resume-pages-wrap {
    margin-bottom: 60px; } }

@media screen and (min-width: 480px) {
  .resume-pages-wrap {
    margin: 60px 20% 0 20%; } }

.sticky-header {
  position: fixed;
  top: 0;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #C3C3C3;
  background: #FFFFFF;
  z-index: 9999; }

.brand-name-wrap {
  margin-left: 10px; }

.navigation-list-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px; }

@media screen and (max-width: 767px) {
  .navigation-list-wrap {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #FFFFFF;
    border-top: 1px solid #C3C3C3;
    z-index: 9999; } }

.navigation-list-item-wrap {
  color: inherit;
  text-decoration: none; }

.navigation-list-item {
  color: #E38E26; }

.home-page-wrap {
  display: flex;
  flex-direction: column;
  align-items: center; }

.home-header-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 10px 20px;
  background: #FFFFFF;
  border: 1px solid #DCDCDD;
  width: 280px;
  transition: width .3s linear; }

@media screen and (min-width: 768px) {
  .home-header-section {
    width: 480px; } }

@media screen and (min-width: 992px) {
  .home-header-section {
    width: 600px; } }

.business-card-section {
  flex-direction: row;
  align-items: center; }

@media screen and (max-width: 991px) {
  .business-card-section {
    height: 400px;
    flex-direction: column; } }

.home-banner {
  align-items: center; }

.home-header-details-wrap {
  margin: 20px; }

@media screen and (max-width: 991px) {
  .home-header-details-wrap {
    text-align: center; } }

.home-header-img-wrap {
  height: 210px;
  width: 210px;
  border-radius: 400px;
  background-color: #FFFFFF;
  border: 1px solid #DCDCDD;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; }

.home-header-detail-item {
  margin-bottom: 10px; }

.home-header-img {
  width: 200px;
  border-radius: 400px; }

.home-section-content-wrap:not(:last-child) {
  margin-bottom: 20px; }

.fade-in-text {
  opacity: 0;
  transition: opacity 0s; }

.fade-in-text.fade {
  opacity: 1;
  transition: opacity .9s ease-in-out; }
