.sticky-header {
  position: fixed;
  top: 0;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  box-shadow: 0px 5px 5px $gray;
  border-bottom: 1px solid $gray;
  // background: transparentize($teal, .1);
  background: $white;
  z-index: $z-top;
}

.brand-name-wrap {
  margin-left: 10px;
}

.navigation-list-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;

  // move nav to footer on mobile
  @include max-width($screen-sm) {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    // background: transparentize($teal, .9);
    background: $white;
    border-top: 1px solid $gray;
    z-index: $z-top;
  }
}

.navigation-list-item-wrap {
  @include unstyle-links;
}

.navigation-list-item {
  color: $orange;
}
