.home-page-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 10px 20px;
  background: $white;
  border: 1px solid $gray-light;
  width: 280px;
  transition: width .3s linear;
  @include min-width($screen-md) {
    width: 480px;
  }
  @include min-width($screen-lg) {
    width: 600px;
  }
}

.business-card-section {
  flex-direction: row;
  align-items: center;
  @include max-width($screen-lg) {
    height: 400px;
    flex-direction: column;
  }
}

.home-banner {
  align-items: center;
}

.home-header-details-wrap {
  margin: 20px;
  @include max-width($screen-lg) {
    text-align: center;
  }
}

.home-header-img-wrap {
  height: 210px;
  width: 210px;
  border-radius: 400px;
  background-color: $white;
  border: 1px solid $gray-light;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.home-header-detail-item {
  margin-bottom: 10px;
}

.home-header-img {
  width: 200px;
  border-radius: 400px;
}

.home-section-content-wrap:not(:last-child) {
  margin-bottom: 20px;
}
