h1, h2, h3, h4, p, ul, li, a, label, input, span {
 font-family: $font, 'Helvetica', 'Arial', sans-serif;
 color: $gray-dark;
}

h1 { font-size: $h1; }
h2 { font-size: $h2; }
h3 { font-size: $h3; }
p, li { line-height: 1.2em; }
