@import url('https://fonts.googleapis.com/css?family=Raleway');

// typography
$font: 'Raleway', sans-serif;
$h1: 24px;
$h2: 20px;
$h3: 18px;

// colors
$white: #FFFFFF;
$blue: #103977;
$teal: #28AB8C;
$orange: #E38E26;
$orange-dark: #B04413;
$yellow: #E5BC7B;
$gray: #C3C3C3;
$gray-dark: #122C34;
$gray-light: #DCDCDD;

// screens
$screen-sm: 480px; // phones
$screen-md: 768px; // tablets
$screen-lg: 992px; // desktop

// z's
$z-top: 9999;
